h2 {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 30px;
}
.about-container {
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    width: 95%;
    max-width: 460px;
}
p strong {
    background-image: var(--lngrad);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
    background-position: 150%;
}
p a {
    color: crimson;
}
.about {
    position: relative;
    margin: auto;
    text-align: center;
    justify-content: start, left;
}
.about p {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 10px;
}