@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*, *:before, *:after {box-sizing:border-box;}

.loader {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 900;
  background: #141414;
  inset: 0;
  visibility: visible;
  opacity: 1;
  transition: .2s;
}
body.MODE .loader {
  background: var(--bg-withe);
}
.range {
  position: relative;
  background-color: #ffffff;
  width: 300px;
  height: 20px;
  transform: skew(30deg);
  font-family: 'Orbitron', monospace;
  animation: load 2.5s forwards;

  --p: 1;
  
  &:before {
    --width: calc(var(--p) * 1%);
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f30059;
    z-index: 0;
    animation: loader 2.5s forwards;
  }
  
  &:after {
    counter-reset: progress var(--p);
    content: counter(progress)'%';
    color: #000;
    font-weight: bolder;
    font-size: 1rem;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
    animation: counter 2s ease-in-out forwards;
    visibility: visible;
    opacity: 1;
  }
  
  &__label {
    transform: skew(-30deg) translateY(-100%);
    line-height: 1.5;;
  }
}

body.MODE .range:after {
  color: azure;
}
body.MODE .range {
  background: #222222;
}
.endloader {
  visibility: hidden;
  opacity: 0;
  translate: 0 15px;
}

@keyframes loader {
  to {
    width: 100%;
  }
}
@keyframes load {
  to {
    display: block;
  }
}

@property --p {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
@keyframes counter {
  from {
    --p: 0;
  }
  to {
    --p: 100;
  }
}
/*
@keyframes glitch {
  0%, 5% {
    transform: translate(0, 0);
  }
  1% {
    transform: translate(-5%, -10%);
  }
  2% {
    transform: translate(10%, 30%);
  }
  3%{
    transform: translate(-43%, 10%);
  }
  4% {
    transform: translate(2%, -23%);
  }
}
  */